<style>
  .button { background-color: #00FF94; box-sizing: border-box; display:
  inline-block; padding: 1rem 1rem; width: 14vw; height: 7vh; border: 1px solid
  rgba(0, 0, 0, 0); border-radius: 13px; font-size: 1.25em; text-decoration:
  none; /* Add this line to remove underline */ color: white; /* Add this line
  to set text color */ color: #0C0C0C; text-decoration: none; text-align:
  center;} .button:focus { outline: none; border-color: #00FF94; } .button:hover
  { color: #0C0C0C; text-decoration: none; }
</style>

<button class="button" style="{{style}}">{{buttonText}}</button>