<style>
  .button { background-color: #00FF94; box-sizing: border-box; display:
  inline-block; padding: 1rem 1rem; width: 14vw; height: 7vh; border: 1px solid
  rgba(0, 0, 0, 0); border-radius: 13px; font-size: 1.25em; } .button:focus {
  outline: none; border-color: #00FF94; }
</style>

<button class="button" style={{style}}>{{buttonText}}</button>