<style>
  .link { box-sizing: border-box; display: inline-block; padding: 1rem 1rem;
  width: 9vw; height: 5vh; border: 1px solid rgba(0, 0, 0, 0); border-radius:
  13px; font-size: 1em; line-height: 0.75em; text-decoration: none; /* Add this
  line to remove underline */ color: white; /* Add this line to set text color
  */ color: #F5F5F5; text-decoration: none; text-align: center;} .link:focus {
  outline: none; } .link:hover { color: #F5F5F5; text-decoration: none; }
</style>

<a href="{{link}}" class="link" style="{{style}}">{{linkText}}</a>