<style>
  .link { box-sizing: border-box; display: inline-block; padding: 1rem 1rem;
  width: auto; height: auto; font-size: 1em; line-height: 0.75em;
  text-decoration: none; /* Add this line to remove underline */ color: #f5f5f5;
  /* Add this line to set text color */ color: #f5f5f5; text-decoration: none;
  text-align: center;} .link:focus { outline: none; } .link:hover { color:
  #f5f5f5; text-decoration: none; }
</style>

<a href="{{link}}" class="link" style="{{style}}">{{linkText}}</a>