<style>
  .box { padding-top: 2vh; padding-bottom: 2vh; padding-right: 3vw;
  padding-left: 3vw; backdrop-filter: blur(35px); background: rgba(12, 12, 12,
  0.4); box-shadow: 0px 0px 15px rgba(6, 6, 6, 0.35); border-radius: 20px;
  margin-top: 5vh; margin-bottom: 5vh; } .sectionHeader { margin-bottom: 2vh;
  display: flex; justify-content: space-between; align-items: center;
  column-gap: 1vw; } .form-input { /* Base styles */ background-color: rgba(12,
  12, 12, 0.5); color: #C8C8C8; display: block; width: 100%; height: 7vh;
  padding: 1rem 1rem; border: 1px solid rgba(0, 0, 0, 0); border-radius: 13px;
  font-size: 1em; box-sizing: border-box; margin-right: 1.5vw; /* Include
  padding in width */ /* Focus styles */ &:focus { outline: none; /* Remove
  default outline */ border-color: #00FF94; /* Change border color on focus */ }
  } .containerArea { display: flex; flex-direction: column; row-gap: 2vh; }
</style>

{{>nav}}

<div class="container">
  <!--Header Text-->
  <div class="sectionHeader" style="margin-top: 5vh;">
    <h3>Add friends</h3>
  </div>
  <!-- Header Text-->

  <form id="addFriendForm">
    <div class="form-group">
      <label for="friendSelect">Select a friend:</label>
      <select class="form-control" id="friendSelect" name="friendSelect" style="background-color: 2B2B2B; outline: none; border-color: #00FF94; color: #F5F5F5">
        <option value="Logan">Logan</option>
        <option value="Ben">Ben</option>
        <option value="Noah">Noah</option>
        <option value="Jace">Jace</option>
        <option value="Owen">Owen</option>
        <option value="Lucca">Lucca</option>
        <option value="Jackson">Jackson</option>
        <option value="Joey">Joey</option>
        <option value="Cody">Cody</option>
        <option value="Bryce">Bryce</option>
        <option value="Josh">Josh</option>
      </select>
    </div>
    {{> wideButton type="submit" buttonText="Add Friend" disabled="false"}}
  </form>

<script>
  document.querySelector('#addFriendForm').addEventListener('submit',
  function(event) { event.preventDefault(); const friendSelect =
  document.querySelector('#friendSelect'); const selectedFriend =
  friendSelect.options[friendSelect.selectedIndex].value; fetch('/addFriends', {
  method: 'POST', headers: { 'Content-Type': 'application/json', }, body:
  JSON.stringify({ friend: selectedFriend }), }) .then(response =>
  response.json()) .then(data => { if (data.status === "success") {
  alert(`${selectedFriend} added as a friend.`); } else { alert(data.message); }
  }) .catch(error => console.error('Error:', error)); });
</script>