{{> header}}
{{> nav}}


<div class="container">
    <button class="btn btn-primary">Add Friend</button>
    <div class="row">
        <h3>{{groups.group_name}}</h3>
    </div>
    <div class="row">
        <h3>{{groups.group_admin_username}}</h3>
    </div>

    <button class="btn btn-primary mt-4">Add Group</button>
    <div class="row">
        {{#each group_members_data}}
        <div class="col-sm-4">
            <h3>{{this.username}}</h3>
        </div>
        <div class="row">
            <h3>{{this.outstanding_balance}}</h3>
        </div>
        {{/each}}
    </div>
</div>

{{> footer}}

{{!--
app.get('/friends/:id', (req, res) => {
    // Fetch friend data using req.params.id and render the friend detail page
});

app.get('/groups/:id', (req, res) => {
    // Fetch group data using req.params.id and render the group detail page
});
--}}