{{> header}}

<div class="container">
    {{#each username}}
    <div class="row">
        <div class="col-sm-4">
            <a href="/friends/{{this.id}}">
                <img src="{{this.image}}" alt="{{this.name}}" class="img-thumbnail">
                <h3>{{this.username}}</h3>
            </a>
        </div>
    </div>
    {{/each}}

</div>

{{> footer}}

{{!-- Example API
app.get('/group', (req, res) => {
    const group = {
        id: 4,
        group_admin_username: 'Noah',
        image: '/path/to/image.jpg',
    };
    res.render('group', { group });
});
--}}