<!--Navigation Bar-->
{{> nav}}

<!--Page Content-->
<div class="container">
    {{> message}}
    <!--To edit the stuff on this page, see homePageContent.hbs-->
    {{> homePageContent userGroups=userGroups admin=admin not_admin=not_admin admin_members=admin_members not_admin_members=not_admin_members}}
</div>

<!-- Script to redirect to group page when group name is clicked -->
<script>
$(document).ready(function(){
    document.querySelectorAll('.viewGroup').forEach(function(button) {
        button.addEventListener('click', function() {
            window.location.href = '/group/' + this.innerHTML;    
        });
    });
});

$(document).ready(function(){
    document.querySelectorAll('.viewUserButton').forEach(function(button) {
        button.addEventListener('click', function() {
            window.location.href = '/viewUser/' + this.innerHTML;    
        });
    });
});

$(document).ready(function(){
    document.querySelectorAll('.viewRequest').forEach(function(button) {
        button.addEventListener('click', function() {
            window.location.href = '/request/' + this.innerHTML;    
        });
    });
});
</script>