<style>
    .box {
        padding-top: 2vh;
        padding-bottom: 2vh;
        padding-right: 3vw;
        padding-left: 3vw;
        backdrop-filter: blur(35px);
        background: rgba(12, 12, 12, 0.4);
        box-shadow: 0px 0px 15px rgba(6, 6, 6, 0.35);
        border-radius: 20px;
        margin-top: 5vh;
        margin-bottom: 5vh;
    }

    .sectionHeader {
        margin-bottom: 2vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 1vw;
    }
</style>

{{> nav}}

<div class="container">
  <!--Welcome Text-->
  <div class="sectionHeader" style="margin-top: 5vh;">
      <h3>Pay Individuals</h3>
  </div>
  <!-- End Welcome Text-->
</div>

<div>
  <div class="d-flex justify-content-center vh-100">
    <div class="col-lg-4">
      <form action="/payment-individual" method="POST" class="form-payment">
        <!-- Add a section to display messages if needed -->
        <!--<div id="message">{{message}}</div>-->

        <h1>Name of Charge</h1>
        <input type="text" name="chargeName" class="form-control mb-3" placeholder="Enter charge name" required>

        <label for="senderUsername">Your Username:</label>
        <input
          type="text"
          id="senderUsername"
          name="senderUsername"
          class="form-control mb-3"
          placeholder="Your Username"
          required
          autofocus
        />

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" class="form-control mb-3" placeholder="Password" required>

        <label for="recipientUsername">Recipient Username:</label>
        <input
          type="text"
          id="recipientUsername"
          name="recipientUsername"
          class="form-control mb-3"
          placeholder="Friend's Username"
          required
        />

        <label for="amount">Amount:</label>
        <input
          type="number"
          id="amount"
          name="amount"
          class="form-control mb-3"
          placeholder="Enter Amount"
          required
        />
        <label for="payback">Is this a payback?</label>
          <input type="checkbox" id="payback" name="payback" value="yes">
          <small>Check if this is a payback transaction.</small>

        <p>Are you paying or requesting money?</p>
        <input type="radio" id="paying" name="transactionType" value="paying" required>
        <label for="paying">Paying</label><br>
        <input type="radio" id="requesting" name="transactionType" value="requesting">
        <label for="requesting">Requesting</label><br>

        {{> wideButton buttonText="Pay/Request" type="submit" id="submitButton"}}
        
        <p class="mt-3 text-center">
          Can't find your friend? <a href="pages/addFriends" style="color: #00FF94">Add Friends</a>
        </p>
      </form>
    </div>
  </div>
</div>
