{{> nav}}


<div class="d-flex justify-content-center vh-100">
  {{#if user}}
    <div class="col-lg-4">
      {{!-- <img src="{{user.image}}" alt="{{user.username}}" class="img-thumbnail"> --}}
      <h1 class="h3 mb-3 fw-bold mt-3">{{user.username}}</h1>
      <div class="card">
        <h5 class="card-title">Payment Method</h5>
        Display payment method details
      </div>
    </div>
  {{else}}
    <div class="col-lg-4">
      <h1 class="h3 mb-3 fw-bold mt-3">Please login to view this page</h1>
    </div>
  {{/if}}
</div>