<div class="d-flex justify-content-center vh-100">
    {{#if account}}
        <div class="col-lg-4">
            <img src="{{account.image}}" alt="{{account.name}}" class="img-thumbnail">
            <h1 class="h3 mb-3 fw-bold mt-3">{{account.name}}</h1>
            <div class="card">
                <h5 class="card-title">Payment Method</h5>
                Display payment method details
            </div>
        </div>
    {{else}}
</div>