

<div class = "container">
    <div class = "name">
        <div>
            <label>Name of Charge</label>
        </div>
        <div>
            <input type = "text"/>
        </div>
    </div>
    <div class = "amount">
        <div>
            <label>Amount</label>
        </div>
        <div>
            <input type = "number"/>
        </div>
    </div>
    <div class = "paymentSelection">
        <div class = "row">
            <div class = "cancel">
                <a href = "home.hbs">Cancel</a>
            </div>
            <div class = "pay">
                <button type = 'submit'>Submit</button>
            </div>
        </div>
    </div>
</div>







