{{> nav}}


<div class="d-flex justify-content-center vh-100">
  <div class="col-lg-4">
    <form action="/payment-individual" method="POST" class="form-payment">
      {{> message }}
      <h1>Name of Charge</h1>
      <input type="text">
      <label for="username">Choose Friend:</label>
      <input
        type="username"
        id="username"
        name="username"
        class="form-control mb-3"
        placeholder="Username"
        required
        autofocus
      />
      <label for="amount" class="sr-only">Amount:</label>
      <input
        type="number"
        id="number"
        name="number"
        class="form-control mb-3"
        placeholder="Money"
        required
      />
      <button class="btn btn-lg btn-primary btn-block" type="submit">Pay/request</button>
      <p class="mt-3 text-center">
        Can't find you friend? <a href="pages/addFriends">Add friend</a>
      </p>
    </form>
  </div>
</div>
<div class="d-flex justify-content-center vh-100">
  <div class="col-lg-4">
    <form action="/payment-group" method="POST" class="form-payment">
      {{> message }}
      <h1>Name of Charge</h1>
      <input type="text">
      <label for="groupname">Choose Group:</label>
      <input
        type="groupname"
        id="groupname"
        name="groupname"
        class="form-control mb-3"
        placeholder="groupname"
        required
        autofocus
      />
      <label for="amount" class="sr-only">Amount:</label>
      <input
        type="number"
        id="number"
        name="number"
        class="form-control mb-3"
        placeholder="Money"
        required
      />
      <button class="btn btn-lg btn-primary btn-block" type="submit">Pay/request</button>
      <p class="mt-3 text-center">
        Don't have a group? <a href="pages/createGroup">Add group</a>
      </p>
    </form>
  </div>
</div>