<div class="d-flex justify-content-center vh-100">
  <div class="col-lg-4">
    <form action="/payment-group" method="POST" class="form-payment">
      <!-- Add a section to display messages if needed -->
      <!--<div id="message">{{message}}</div>-->

      <h1>Name of Charge</h1>
      <input type="text" name="chargeName" class="form-control mb-3" placeholder="Enter charge name" required>

      <label for="senderUsername">Your Username:</label>
      <input
        type="text"
        id="senderUsername"
        name="senderUsername"
        class="form-control mb-3"
        placeholder="Your Username"
        required
        autofocus
      />

      <label for="amount">Amount:</label>
      <input
        type="number"
        id="amount"
        name="amount"
        class="form-control mb-3"
        placeholder="Enter Amount"
        required
      />
        
      <label for="group_name">Group Name:</label>
      <input
        type="text"
        id="group_name"
        name="group_name"
        class="form-control mb-3"
        value="{{groupName}}"
        disabled
      />


     <!-- <label for="groupId">Group ID (optional):</label> make group name if needed
      <input
        type="text"
        id="groupId"
        name="groupId"
        class="form-control mb-3"
        placeholder="Group ID (if applicable)"
      />-->

      <button class="btn btn-lg btn-primary btn-block" type="submit">Pay/Request</button>
    </form>
  </div>
</div>
