<h1>Register</h1>

<form method = "post" action = "/register">
    <div>
        <label for = "userTitle">Username</label>
    </div>
    <div>
        <input type = "text" name = "username"/>
    </div>
    <div>
        <label for = "passTitle">Password</label>
    </div>
    <div>
        <input type = "password" name = "password"/>
    </div>
    <div>
        <button type = 'submit'>Register</button>
    </div>
</form>

<div>
    <p>Already have an account?</p>
    <a class = "nav-link" href = "/login">Login</a>
</div>