.box { position: absolute; display: inline-block; padding: 15px; top: 80%; left:
50%; transform: translate(-50%, -50%); backdrop-filter: blur(35px); background:
rgba(12, 12, 12, 0.4); box-sizing: border-box; box-shadow: 0px 0px 15px rgba(6,
6, 6, 0.35); border-radius: 20px; }

<div class="box">
  <input type="text" placeholder="Username" />
  <input type="password" placeholder="Password" />
  <button>Register</button>
</div>

.button { appearance: button; backface-visibility: hidden; background-color:
rgba(0, 255, 148); border-radius: 13px; border-width: 0; box-sizing: border-box;
color: #0C0C0C; cursor: pointer; font-size: 30; width: 10vw; height: 6vh;
line-height: 1.15; outline: none; overflow: hidden; padding: 0 25px; position:
relative; text-align: center; text-transform: none; transform: translateZ(0);
transition: all .2s,box-shadow .08s ease-in; user-select: none;
-webkit-user-select: none; touch-action: manipulation; } .button:disabled {
cursor: default; } .button:focus { box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px
inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0,
rgba(50, 151, 211, .3) 0 0 0 4px; }